.content {
  height: calc(100vh - 66px);
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

.sidebar {
  grid-column: 1/2;
  box-shadow: 5px 0 5px -2px rgba(0,0,0,.075);
  z-index: 1;
  overflow: auto;
}

.main-section {
  grid-column: 2/3;
}